<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
	<Properties>
		<Property name="logger_file">./logs/feedzilla_download_application.log</Property>
	</Properties>
    <Appenders>
 		<Console name="Console" target="SYSTEM_OUT">
			<PatternLayout>
				<pattern>%d [%t] %-5level %logger{36} - %msg%n</pattern>
			</PatternLayout>
		</Console>
		<File name="LoggerFile" fileName="${logger_file}">
			<PatternLayout>
				<pattern>%d [%t] %-5level %logger{36} - %msg%n</pattern>
			</PatternLayout>
		</File>
    </Appenders>
    <Loggers>
    	<Root level="error">
    		<AppenderRef ref="LoggerFile"/>
    	</Root>
    	<Logger name="stsc.news.feedzilla.downloader.FeedzillaDownloadApplication" level="trace" additivity="false">
    		<AppenderRef ref="LoggerFile"/>
    	</Logger>
    	<Logger name="stsc.news.feedzilla.FeedzillaStorage" level="trace" additivity="false">
    		<AppenderRef ref="LoggerFile"/>
    	</Logger>
    	<Logger name="stsc.news.feedzilla.downloader.FeedDataDownloader" level="trace" additivity="false">
    		<AppenderRef ref="LoggerFile"/>
    	</Logger>
    </Loggers>
</Configuration>