
*.class

# Package Files #
*.jar
*.war
*.ear

target
/data/*.uf
/filtered_data/*.uf
/*/logs
/test/*.uf
*/test_data/*.out/*
/.*
stsc.distributed.hadoop/test_data/output.txt
stsc.distributed.hadoop/yahoo_datafeed/*
stsc.distributed.hadoop/test_data/.*
stsc.distributed.hadoop/test_data/_SUCCESS
.project
.settings
.classpath
_*.log
*.versionsBackup
tools/vagrant_hadoop_cluster/single-node/package

.~lock*#

# Hadoop Vagrant Files #
.vagrant
hadoop*.tar.gz
hadoop*.tar.gz.mds
hbase*.tar.gz

