
*.class

# Package Files #
*.jar
*.war
*.ear

3rdparty
**/*.s3db

**/bin/
target
/data/*.uf
/filtered_data/*.uf
/*/logs
/test/*.uf
*/test_data/*.out/*
/.*
stsc.general/test/*.csv
stsc.news.feedzilla/**/*.log
stsc.news.feedzilla/feed_data/*.fz
.project
.settings
.classpath
_*.log
*.versionsBackup
tools/vagrant_hadoop_cluster/single-node/package
liquibase*db
stsc.stocks.yahoo/downloader/test/aaoi.uf
stsc.as.service/feedzilla.downloader/feed_data/*.fz

.~lock*#

# Hadoop Vagrant Files #
.vagrant
hadoop*.tar.gz
hadoop*.tar.gz.mds
hbase*.tar.gz

source/*

