
*.class

# Package Files #
*.jar
*.war
*.ear

3rdparty
**/*.s3db

**/bin/
target
/data/*.uf
/filtered_data/*.uf
/*/logs
/test/*.uf
*/test_data/*.out/*
/.*
stsc.general/test/*.csv
stsc.distributed.hadoop/test_data/output.txt
stsc.distributed.hadoop/output_data/
stsc.distributed.hadoop/output.txt
stsc.distributed.hadoop/yahoo_datafeed/*
stsc.distributed.hadoop/test_data/.*
stsc.distributed.hadoop/test_data/_SUCCESS
stsc.news.feedzilla/**/*.log
stsc.news.feedzilla/feed_data/*.fz
.project
.settings
.classpath
_*.log
*.versionsBackup
tools/vagrant_hadoop_cluster/single-node/package
liquibase*db
stsc.stocks.yahoo/downloader/test/aaoi.uf

.~lock*#

# Hadoop Vagrant Files #
.vagrant
hadoop*.tar.gz
hadoop*.tar.gz.mds
hbase*.tar.gz

